flow.json
[{"id":"b89b6430.fc4758","type":"tab","label":"Controles","disabled":false,"info":""},{"id":"fb7d798b.8949d8","type":"tab","label":"Estados","disabled":false,"info":""},{"id":"5a261c34.261a64","type":"tab","label":"Logs","disabled":false,"info":"Tercera columna donde se informan de estados"},{"id":"76caf5af.acb65c","type":"tab","label":"Simulador","disabled":true,"info":""},{"id":"14dbfc71.592b04","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"51c30cf.14f3ff4","type":"ui_tab","z":"","name":"DomoBOX","icon":"developer_dashboard","order":1,"disabled":false,"hidden":false},{"id":"64969eeb.3e1ec","type":"ui_group","z":"","name":"CONTROLES","tab":"51c30cf.14f3ff4","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc4121bb.db3d6","type":"ui_group","z":"","name":"ESTADOS","tab":"51c30cf.14f3ff4","order":2,"disp":true,"width":"7","collapse":false},{"id":"a92d7a5.7f76888","type":"ui_group","z":"","name":"Modulos REGISTRADOS","tab":"51c30cf.14f3ff4","order":3,"disp":true,"width":"8","collapse":false},{"id":"242116a.21361ea","type":"ui_base","z":0,"theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b1ff5172.ad285","type":"ui_group","z":"","name":"LOGS","tab":"51c30cf.14f3ff4","order":4,"disp":true,"width":"8","collapse":true},{"id":"8495666e.cc6998","type":"ui_group","z":"","name":"teclado","tab":"","disp":true,"width":"6","collapse":false},{"id":"b8758f1a.86cf9","type":"ui_group","z":"","name":"Seguridad","tab":"","disp":true,"width":"6","collapse":false},{"id":"9380515f.2dcc9","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df7ba3e9.3d554","type":"comment","z":"76caf5af.acb65c","name":"--------- Inyecta/Recibe para  SIMULACION","info":"","x":200,"y":60,"wires":[]},{"id":"b22851fd.f4e1b","type":"inject","z":"76caf5af.acb65c","name":"Temperatura","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/temperatura","payload":"","payloadType":"date","x":180,"y":180,"wires":[["b9c407a9.75c268"]]},{"id":"b9c407a9.75c268","type":"random","z":"76caf5af.acb65c","name":"","low":"15","high":"30","inte":"true","property":"payload","x":360,"y":180,"wires":[["3146f676.2404fa"]]},{"id":"3146f676.2404fa","type":"mqtt out","z":"76caf5af.acb65c","name":"pub.mqtt","topic":"","qos":"0","retain":"","broker":"14dbfc71.592b04","x":560,"y":180,"wires":[]},{"id":"69e4a9c3.6253f8","type":"inject","z":"76caf5af.acb65c","name":"Humedad","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/humedad","payload":"","payloadType":"date","x":170,"y":240,"wires":[["74cae059.5c5c6"]]},{"id":"74cae059.5c5c6","type":"random","z":"76caf5af.acb65c","name":"","low":"30","high":"80","inte":"true","property":"payload","x":360,"y":240,"wires":[["3146f676.2404fa"]]},{"id":"6afa10f0.3db5e","type":"inject","z":"76caf5af.acb65c","name":"Tem>30","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/temperatura","payload":"32","payloadType":"num","x":350,"y":120,"wires":[["3146f676.2404fa"]]},{"id":"50dad49e.837b7c","type":"inject","z":"76caf5af.acb65c","name":"ESP Garaje","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/garaje/modulo","payload":"{\"name\":\"ESP32_GARAJE\",\"mac\":\"08002BE105701\",\"ip\":\"192.168.255.104\"}","payloadType":"str","x":210,"y":380,"wires":[["67d422bc.82236c"]]},{"id":"67d422bc.82236c","type":"mqtt out","z":"76caf5af.acb65c","name":"pub.mqtt","topic":"","qos":"0","retain":"","broker":"14dbfc71.592b04","x":460,"y":400,"wires":[]},{"id":"a5f01726.580518","type":"inject","z":"76caf5af.acb65c","name":"ESP Pasillo","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/pasillo/modulo","payload":"{\"name\":\"ESP32_PASILLO\",\"mac\":\"06002BE10318\",\"ip\":\"192.168.255.105\"}","payloadType":"str","x":210,"y":420,"wires":[["67d422bc.82236c"]]},{"id":"e2d67e42.017f4","type":"comment","z":"b89b6430.fc4758","name":"Controles Iluminacion","info":"","x":160,"y":60,"wires":[]},{"id":"925669c.fd33398","type":"ui_switch","z":"b89b6430.fc4758","name":"Luz Garaje","label":"Luz Garaje","tooltip":"Luz Garaje","group":"64969eeb.3e1ec","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":910,"y":140,"wires":[["ec5e992f.e814b8"]]},{"id":"89118ec6.3cb63","type":"mqtt in","z":"b89b6430.fc4758","name":"sub.mqtt.luzgaraje","topic":"domobox/garaje/iluminacion","qos":"1","datatype":"utf8","broker":"14dbfc71.592b04","x":150,"y":160,"wires":[["266a5845.c3b528"]]},{"id":"bed30e7e.10792","type":"mqtt out","z":"b89b6430.fc4758","name":"pub.mqtt.luzgarage","topic":"domobox/garaje/iluminacion","qos":"0","retain":"","broker":"14dbfc71.592b04","x":1270,"y":140,"wires":[]},{"id":"4afba2fb.27776c","type":"inject","z":"76caf5af.acb65c","name":"Pulsador Luz Garaje","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/garaje/iluminacion","payload":"conmuta","payloadType":"str","x":190,"y":720,"wires":[["7e67dd15.1faf44"]]},{"id":"7e67dd15.1faf44","type":"mqtt out","z":"76caf5af.acb65c","name":"pub.mqtt","topic":"","qos":"0","retain":"","broker":"14dbfc71.592b04","x":540,"y":720,"wires":[]},{"id":"de2403d5.92a8d","type":"inject","z":"76caf5af.acb65c","name":"Pulsador Luz Pasillo","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/pasillo/iluminacion","payload":"conmuta","payloadType":"str","x":190,"y":760,"wires":[["7e67dd15.1faf44"]]},{"id":"fd3256ba.e67e78","type":"inject","z":"76caf5af.acb65c","name":"Pulsador Luz Habitacion1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/habitacion1/iluminacion","payload":"conmuta","payloadType":"str","x":210,"y":800,"wires":[["7e67dd15.1faf44"]]},{"id":"594c46f5.5ab808","type":"inject","z":"76caf5af.acb65c","name":"Pulsador Luz Habitacion2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/habitacion2/iluminacion","payload":"conmuta","payloadType":"str","x":210,"y":840,"wires":[["7e67dd15.1faf44"]]},{"id":"3d104933.9f0656","type":"inject","z":"76caf5af.acb65c","name":"Luz Garaje ON","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/garaje/iluminacion","payload":"on","payloadType":"str","x":300,"y":660,"wires":[["7e67dd15.1faf44"]]},{"id":"5feec478.06045c","type":"inject","z":"76caf5af.acb65c","name":"Luz Garaje OFF","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/garaje/iluminacion","payload":"off","payloadType":"str","x":300,"y":620,"wires":[["7e67dd15.1faf44"]]},{"id":"f259dd21.5c683","type":"comment","z":"76caf5af.acb65c","name":"Pulsadores Luces","info":"","x":190,"y":580,"wires":[]},{"id":"94cf85b1.04a488","type":"change","z":"b89b6430.fc4758","name":"Status","rules":[{"t":"set","p":"status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":140,"wires":[["925669c.fd33398"]],"info":"Guarda el estado en que queda la luz para la siguiente conmutacion"},{"id":"266a5845.c3b528","type":"switch","z":"b89b6430.fc4758","name":"analisis","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"conmuta","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":160,"wires":[["63a751a2.a202c"],["e0f6bc4e.142f4"],["a5ab1dc1.26c29"]]},{"id":"63a751a2.a202c","type":"change","z":"b89b6430.fc4758","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":60,"wires":[["94cf85b1.04a488"]]},{"id":"a5ab1dc1.26c29","type":"change","z":"b89b6430.fc4758","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["94cf85b1.04a488"]]},{"id":"e0f6bc4e.142f4","type":"switch","z":"b89b6430.fc4758","name":"conmuta","property":"status","propertyType":"flow","rules":[{"t":"null"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":560,"y":140,"wires":[["63a751a2.a202c"],["63a751a2.a202c"],["a5ab1dc1.26c29"]]},{"id":"98c277bb.a726c8","type":"comment","z":"76caf5af.acb65c","name":"Info Modulos Conectados","info":"","x":210,"y":340,"wires":[]},{"id":"66acac3d.ca0b34","type":"comment","z":"b89b6430.fc4758","name":"Control de Acceso - Puerta","info":"","x":170,"y":1200,"wires":[]},{"id":"dca77445.b6fa58","type":"comment","z":"76caf5af.acb65c","name":"Pin Acceso","info":"","x":160,"y":980,"wires":[]},{"id":"9f11324a.965cd","type":"inject","z":"76caf5af.acb65c","name":"Passwd Acceso 1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/keypad/passwd","payload":"12345","payloadType":"str","x":180,"y":1040,"wires":[["21e9a84.4fdc458"]]},{"id":"21e9a84.4fdc458","type":"mqtt out","z":"76caf5af.acb65c","name":"pub.mqtt","topic":"","qos":"0","retain":"","broker":"14dbfc71.592b04","x":400,"y":1040,"wires":[]},{"id":"e80eacea.1a869","type":"ui_template","z":"b89b6430.fc4758","group":"64969eeb.3e1ec","name":"Passwd Change","order":10,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\">\n<div ng-init=\"init()\" id=\"pin_insert\" class=\"dialog\">\n    \n    <div class=\"dialog_content\">\n        \n        <div class=\"dialog_header\">\n            <span ng-click=\"closeDialog()\" class=\"close\">&times;</span>\n            <h2 style=\"margin:10px\">Insertar PIN</h2>\n        </div>\n        \n        <div class=\"dialog_body\">\n           <div layout=\"row\" layout-align=\"center\">\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(0, 1)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(1, 2)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(2, 3)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(3, 4)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(4, 5)}}\n                </div>\n            </div>\n            \n            <div layout=\"column\" layout-align=\"center\" style=\"margin-top: 10px\">\n                <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('1')\">1</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('2')\">2</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('3')\">3</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('A')\">A</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('4')\">4</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('5')\">5</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('6')\">6</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('B')\">B</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('7')\">7</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('8')\">8</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('9')\">9</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('C')\">C</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n\n                 <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"delete()\">\n                            <ng-md-icon icon=\"arrow_back\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('0')\">0</md-button>\n                    </div>\n\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"confirm()\">\n                            <ng-md-icon icon=\"done\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add('D')\">D</md-button>\n                    </div>\n                </div>\n            </div> \n          \n        </div> <!--dialog_body-->\n    </div> <!--dialog_content-->\n</div>  <!--dialog-->\n</div> <!--ng-bind-html-->\n\n<style>\n\n/* The Dialog (background) */\n.dialog {\n    display: none; /* oculto por defecto */\n    position: fixed; /* permanecer en el lugar */\n    z-index: 9999; /* Situar arriba */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n    -webkit-transform: translateZ(0px);\n    -webkit-transform: translate3d(0,0,0);\n    -webkit-perspective: 1000;\n}\n\n.dialog_content {\n    position: absolute;\n    background-color: #fff;\n    left: calc(50% - 170px);\n    top: 30px;\n    border-radius: 10px;\n    padding: 0;\n    width: 340px;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    animation-name: animatetop;\n    animation-duration: 0.4s;\n}\n\n/* Media query for smartphones (to Fix?) */\n@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { \n    .dialog_content {\n    margin-top: 5%;\n    margin-left: 5%;\n}\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top: -300px; opacity: 0} \n    to {top: 0; opacity: 1}\n}\n\n@keyframes animatetop {\n    from {top: -300px; opacity: 0}\n    to {top: 0; opacity: 1}\n}\n\n/* Dialog Header */\n.dialog_header {\n    padding: 2px 16px;\n    background-color: #03A9F4;\n    border-radius: 10px 10px 0 0;\n    color: white;\n}\n\n/* Dialog Body */\n.dialog_body {padding: 5px;}\n\n/* The Close Button */\n.close {\n    color: #fff;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n    cursor: pointer;\n}\n\n.close:hover,\n.close:focus {\n    color: #1565C0;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n/*  Codigo introducido */\n.number_placeholder{\n    width: 40px;\n    height: 34px;\n    margin: 10px;\n    font-size: 20pt;\n    text-align: center;\n    border-bottom: 1px solid black;\n}\n\n/* Number container */\n.number_box{\n    margin: 4px;\n}\n\n/* Estilo de boton */\n.pin {\n    min-height: 50px;\n    min-width: 50px;\n    font-weight: bold;\n    margin: 0px 10px 10px 0px;\n    box-shadow: 4px 4px 6px 0 #dadada;\n    background-color: #29B6F6;\n    color: #fff;\n}\n\n.pin:not([disabled]):hover {\n    background-color: #03A9F4;\n}\n\n.btn1 {\n  color : rgb(49, 46, 46);\n  background-color: rgba(255, 222, 121, 0.96);\n  border-radius: 10px 0 0 10px;\n  font-size: 16px;\n}\n\n.btn1:not([disabled]):hover {\n  background-color: rgba(107, 103, 91, 0.96);\n  color: white;\n}\n\n.btn1[disabled] {\n  color : rgb(187, 187, 187);\n  background-color: rgba(230, 230, 229, 0.96);\n}\n\n</style>\n\n<script>\n\n/**\n * pin_dialog.js\n * Node-Red UI template for Node-Red Dashboard. \n * Custom dialog that asks for a PIN to allow actions\n * Enjoy it :). \n * -- Daniel\n *\n *\n * @license The Unlicense, http://unlicense.org/\n * @version 0.2\n * @author  Daniel Lando, https://github.com/robertsLando\n * @updated 2019-03-18\n * @link    ----\n *\n *\n */\n\nvar dialog;\n\n/* ==== */\n(function(scope) {\n    \n    scope.passcode = \"\";\n    scope.payload = \"\";\n    scope.inited = false;\n    \n    scope.init = function() {\n        scope.passcode = \"\";\n        //Hide the md-panel\n        $('#pin_insert').parent().parent().css(\"display\", \"none\");\n        //Este truco también hace que funcione en teléfonos inteligentes :)\n        dialog = $('#pin_insert').detach();\n        //dialog.appendTo(document.body); //  Esto deja numpads fantasma si pinpad no es abierto!\n    }\n    \n    scope.showDialog = function() {\n        dialog.appendTo(document.body); //es mejor agregar el cuerpo solo cuando se muestra el teclado numérico (las costuras se eliminarán automáticamente)\n        dialog.css(\"display\", \"block\");\n    }\n    \n    scope.closeDialog = function(){\n        dialog.css(\"display\", \"none\");\n    }\n    \n    scope.add = function(value) {\n        if(scope.passcode.length < 5) {\n            scope.passcode = scope.passcode + value;\n            if(scope.passcode.length == 5) {\n                console.log(\"Se introdujo 5 digito\");\n            }\n        }\n    }\n\n    scope.delete = function() {\n        if(scope.passcode.length > 0) {\n            scope.passcode = scope.passcode.substring(0, scope.passcode.length - 1);\n        }\n    }\n    \n    scope.confirm = function() {\n        if(scope.passcode.length >= 4) {  // solo acepta si hay 4 o mas digitos\n            scope.send({passcode: scope.passcode, payload : scope.payload});\n            scope.closeDialog();\n            scope.passcode = \"\";\n            scope.payload = \"\";\n        }\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n               case \"show\":\n                   if(scope.inited){\n                        scope.payload = data.payload;\n                        scope.showDialog();\n                   }\n                   else\n                        scope.inited = true;\n                break;\n                case \"close\": \n                    scope.closeDialog(); \n                break;\n            }\n        }\n    });\n})(scope);\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":620,"y":1600,"wires":[["cb2c0687.f2d088"]]},{"id":"d2cf7cf.6c3c28","type":"mqtt in","z":"b89b6430.fc4758","name":"sub.mqtt.passwd","topic":"domobox/keypad/passwd","qos":"0","datatype":"utf8","broker":"14dbfc71.592b04","x":140,"y":1520,"wires":[["9ed9a4f8.5840d8"]]},{"id":"9ed9a4f8.5840d8","type":"change","z":"b89b6430.fc4758","name":"Set flow.passcode","rules":[{"t":"set","p":"passcode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1520,"wires":[["8b1ad395.31cb2"]]},{"id":"d2106e83.f8d85","type":"inject","z":"76caf5af.acb65c","name":"Passwd Acceso 2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/keypad/passwd","payload":"12AB4","payloadType":"str","x":180,"y":1080,"wires":[["21e9a84.4fdc458"]]},{"id":"ac7b91c1.b8803","type":"comment","z":"b89b6430.fc4758","name":"Debugger / Cambia CLAVE","info":"# Debugger / Prueba Clave de Acceso","x":170,"y":1460,"wires":[]},{"id":"764acf3.1774a3","type":"comment","z":"b89b6430.fc4758","name":"Control Musica Ambiente","info":"","x":170,"y":920,"wires":[]},{"id":"3ded432e.a669dc","type":"mqtt in","z":"fb7d798b.8949d8","name":"sub.mqtt.temp","topic":"domobox/temperatura","qos":"0","datatype":"auto","broker":"14dbfc71.592b04","x":170,"y":120,"wires":[["192497d7.dcea98","af22d8fa.ead8a8","b1d9830b.021a9"]]},{"id":"5227f8d2.09ec88","type":"ui_chart","z":"fb7d798b.8949d8","name":"chart.temp+hume","group":"bc4121bb.db3d6","order":5,"width":"0","height":"0","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#f2f732","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":340,"wires":[[]]},{"id":"a078119f.c4c31","type":"mqtt in","z":"fb7d798b.8949d8","name":"sub.mqtt.hume","topic":"domobox/humedad","qos":"0","datatype":"auto","broker":"14dbfc71.592b04","x":180,"y":440,"wires":[["cb3ab21.6098e5","8481ea7c.35df48","b1d9830b.021a9"]]},{"id":"192497d7.dcea98","type":"ui_text","z":"fb7d798b.8949d8","group":"bc4121bb.db3d6","order":1,"width":"2","height":"1","name":"","label":"Temperatura","format":"{{msg.payload}}","layout":"col-center","x":450,"y":120,"wires":[]},{"id":"8481ea7c.35df48","type":"ui_text","z":"fb7d798b.8949d8","group":"bc4121bb.db3d6","order":3,"width":"3","height":"1","name":"","label":"Humedad","format":"{{msg.payload}}","layout":"col-center","x":440,"y":440,"wires":[]},{"id":"c9592eaa.2ee2b","type":"ui_led","z":"fb7d798b.8949d8","group":"bc4121bb.db3d6","order":2,"width":"1","height":"1","label":"","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"red","value":"on","valueType":"str"},{"color":"green","value":"off","valueType":"str"}],"allowColorForValueInMessage":false,"name":"AlarmTemp","x":930,"y":220,"wires":[]},{"id":"9b5769ad.83bfd8","type":"ui_led","z":"fb7d798b.8949d8","group":"bc4121bb.db3d6","order":4,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"},{"color":"green","value":"false","valueType":"bool"}],"name":"AlarmHume","x":850,"y":540,"wires":[]},{"id":"51da1c08.570a24","type":"mqtt out","z":"fb7d798b.8949d8","name":"pub.mqtt.ventilador","topic":"domobox/ventilador","qos":"0","retain":"","broker":"14dbfc71.592b04","x":1090,"y":320,"wires":[]},{"id":"be1994e9.6aee88","type":"comment","z":"fb7d798b.8949d8","name":"Si alarma de temperatura enciende ventilador","info":"","x":990,"y":260,"wires":[]},{"id":"37c8f3b0.de502c","type":"comment","z":"fb7d798b.8949d8","name":"Recibe Temperatura / Humedad","info":"","x":190,"y":60,"wires":[]},{"id":"a7a75a5d.454c68","type":"rbe","z":"fb7d798b.8949d8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":710,"y":220,"wires":[["c9592eaa.2ee2b","b4020076.90bb8","a70914f7.f428c8"]]},{"id":"28874372.a8bdbc","type":"rbe","z":"fb7d798b.8949d8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":540,"wires":[["9b5769ad.83bfd8","a24a78c8.d51588"]]},{"id":"b4020076.90bb8","type":"ui_switch","z":"fb7d798b.8949d8","name":"Ventilador","label":"Ventilador","tooltip":"","group":"bc4121bb.db3d6","order":6,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":880,"y":320,"wires":[["51da1c08.570a24"]]},{"id":"cb3ab21.6098e5","type":"switch","z":"fb7d798b.8949d8","name":"Alarma","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":540,"wires":[["771f799f.e5fda8"],["a57135be.164458"]]},{"id":"771f799f.e5fda8","type":"change","z":"fb7d798b.8949d8","name":"Verde","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["28874372.a8bdbc"]]},{"id":"a57135be.164458","type":"change","z":"fb7d798b.8949d8","name":"Rojo","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[["28874372.a8bdbc"]]},{"id":"af22d8fa.ead8a8","type":"switch","z":"fb7d798b.8949d8","name":"Alarma","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"num"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":220,"wires":[["832b4513.6e2f58"],["5f0880e6.a30dd"]]},{"id":"832b4513.6e2f58","type":"change","z":"fb7d798b.8949d8","name":"Verde","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":180,"wires":[["a7a75a5d.454c68"]]},{"id":"5f0880e6.a30dd","type":"change","z":"fb7d798b.8949d8","name":"Rojo","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":240,"wires":[["a7a75a5d.454c68"]]},{"id":"4966612b.422f5","type":"ui_template","z":"b89b6430.fc4758","group":"64969eeb.3e1ec","name":"Linea Separador 1","order":6,"width":"6","height":"1","format":"<div>\n  <center> ________________________________</center>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":430,"y":1200,"wires":[[]]},{"id":"bdbc5d57.e7b31","type":"ui_switch","z":"b89b6430.fc4758","name":"Boton Puerta","label":"Puerta","tooltip":"Abrir / Cerrar Puerta","group":"64969eeb.3e1ec","order":7,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"abrir","onvalueType":"str","onicon":"lock_open","oncolor":"","offvalue":"cerrar","offvalueType":"str","officon":"lock_outline","offcolor":"","x":350,"y":1280,"wires":[["c67dbcbf.53649"]]},{"id":"6178bf2b.e4796","type":"comment","z":"b89b6430.fc4758","name":"Conexión de la alarma","info":"# Debugger / Prueba PIN","x":160,"y":1820,"wires":[]},{"id":"a70914f7.f428c8","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Alta Temperatura","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Temperatura\",\n    eventStat : \"Elevada\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":960,"y":160,"wires":[[]]},{"id":"a24a78c8.d51588","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Humedad Baja","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Humedad\",\n    eventStat : \"Muy Baja\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":890,"y":480,"wires":[[]]},{"id":"71e464e9.dc304c","type":"function","z":"b89b6430.fc4758","name":"AddLog - Puerta Abierta","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Puerta\",\n    eventStat : \"Abierta\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":770,"y":1340,"wires":[[]]},{"id":"a50f9b4.f2c7b68","type":"ui_template","z":"b89b6430.fc4758","d":true,"group":"64969eeb.3e1ec","name":"Linea Separador 2","order":8,"width":"6","height":"1","format":"<div>\n  <center> ________________________________</center>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":390,"y":1820,"wires":[[]]},{"id":"ec5e992f.e814b8","type":"switch","z":"b89b6430.fc4758","name":"noBucle","property":"topic","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1080,"y":140,"wires":[["bed30e7e.10792"]]},{"id":"58191d7c.d60494","type":"ui_switch","z":"b89b6430.fc4758","name":"Luz Pasillo","label":"Luz Pasillo","tooltip":"Luz Pasillo","group":"64969eeb.3e1ec","order":2,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":910,"y":340,"wires":[["6019c7c2.0729c8"]]},{"id":"2a32d33d.bfe7dc","type":"mqtt in","z":"b89b6430.fc4758","name":"sub.mqtt.luzpasillo","topic":"domobox/pasillo/iluminacion","qos":"0","datatype":"utf8","broker":"14dbfc71.592b04","x":150,"y":360,"wires":[["a0aa160e.fe4538"]]},{"id":"db2f7952.2dec98","type":"mqtt out","z":"b89b6430.fc4758","name":"pub.mqtt.luzpasillo","topic":"domobox/pasillo/iluminacion","qos":"0","retain":"","broker":"14dbfc71.592b04","x":1270,"y":340,"wires":[]},{"id":"7cca4b1c.326944","type":"change","z":"b89b6430.fc4758","name":"Status","rules":[{"t":"set","p":"status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":340,"wires":[["58191d7c.d60494"]],"info":"Guarda el estado en que queda la luz para la siguiente conmutacion"},{"id":"a0aa160e.fe4538","type":"switch","z":"b89b6430.fc4758","name":"analisis","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"conmuta","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":360,"wires":[["a9b95cec.09266"],["9edd0a52.8765d8"],["1e772c2f.aa4da4"]]},{"id":"a9b95cec.09266","type":"change","z":"b89b6430.fc4758","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":260,"wires":[["7cca4b1c.326944"]]},{"id":"1e772c2f.aa4da4","type":"change","z":"b89b6430.fc4758","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":400,"wires":[["7cca4b1c.326944"]]},{"id":"9edd0a52.8765d8","type":"switch","z":"b89b6430.fc4758","name":"conmuta","property":"status","propertyType":"flow","rules":[{"t":"null"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":560,"y":340,"wires":[["a9b95cec.09266"],["a9b95cec.09266"],["1e772c2f.aa4da4"]]},{"id":"6019c7c2.0729c8","type":"switch","z":"b89b6430.fc4758","name":"noBucle","property":"topic","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1080,"y":340,"wires":[["db2f7952.2dec98"]]},{"id":"89f1b0ee.e0125","type":"ui_switch","z":"b89b6430.fc4758","name":"Luz Habitacion1","label":"Luz Habitacion1","tooltip":"Luz Habitacion1","group":"64969eeb.3e1ec","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":920,"y":540,"wires":[["efd8dc7b.1ff0a"]]},{"id":"d190e871.204628","type":"mqtt in","z":"b89b6430.fc4758","name":"sub.mqtt.luzhabitacion1","topic":"domobox/habitacion1/iluminacion","qos":"0","datatype":"utf8","broker":"14dbfc71.592b04","x":160,"y":560,"wires":[["4315f1ca.5862e"]]},{"id":"1d82a68c.aa2179","type":"mqtt out","z":"b89b6430.fc4758","name":"pub.mqtt.luzhabitacion1","topic":"domobox/habitacion1/iluminacion","qos":"0","retain":"","broker":"14dbfc71.592b04","x":1310,"y":540,"wires":[]},{"id":"ba5ab8ec.d6c578","type":"change","z":"b89b6430.fc4758","name":"Status","rules":[{"t":"set","p":"status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":540,"wires":[["89f1b0ee.e0125"]],"info":"Guarda el estado en que queda la luz para la siguiente conmutacion"},{"id":"4315f1ca.5862e","type":"switch","z":"b89b6430.fc4758","name":"analisis","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"conmuta","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":560,"wires":[["5c96c34c.5756ec"],["9b92ab1d.f79dd8"],["49cdfaad.53c1f4"]]},{"id":"5c96c34c.5756ec","type":"change","z":"b89b6430.fc4758","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["ba5ab8ec.d6c578"]]},{"id":"49cdfaad.53c1f4","type":"change","z":"b89b6430.fc4758","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":600,"wires":[["ba5ab8ec.d6c578"]]},{"id":"9b92ab1d.f79dd8","type":"switch","z":"b89b6430.fc4758","name":"conmuta","property":"status","propertyType":"flow","rules":[{"t":"null"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":560,"y":540,"wires":[["5c96c34c.5756ec"],["5c96c34c.5756ec"],["49cdfaad.53c1f4"]]},{"id":"efd8dc7b.1ff0a","type":"switch","z":"b89b6430.fc4758","name":"noBucle","property":"topic","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":540,"wires":[["1d82a68c.aa2179"]]},{"id":"4545f462.da2c3c","type":"ui_switch","z":"b89b6430.fc4758","name":"Luz Habitacion2","label":"Luz Habitacion2","tooltip":"Luz Habitacion2","group":"64969eeb.3e1ec","order":4,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":920,"y":740,"wires":[["acb66f43.7bd78"]]},{"id":"7cbacfac.d2ab","type":"mqtt in","z":"b89b6430.fc4758","name":"sub.mqtt.luzhabitacion2","topic":"domobox/habitacion2/iluminacion","qos":"0","datatype":"utf8","broker":"14dbfc71.592b04","x":160,"y":760,"wires":[["b82ab1e1.0b1e2"]]},{"id":"719abe91.5998b","type":"mqtt out","z":"b89b6430.fc4758","name":"pub.mqtt.luzhabitacion2","topic":"domobox/habitacion2/iluminacion","qos":"0","retain":"","broker":"14dbfc71.592b04","x":1310,"y":740,"wires":[]},{"id":"594eb9de.1d0138","type":"change","z":"b89b6430.fc4758","name":"Status","rules":[{"t":"set","p":"status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":740,"wires":[["4545f462.da2c3c"]],"info":"Guarda el estado en que queda la luz para la siguiente conmutacion"},{"id":"b82ab1e1.0b1e2","type":"switch","z":"b89b6430.fc4758","name":"analisis","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"conmuta","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":760,"wires":[["5705c56d.6c75cc"],["2b44ceb5.246112"],["2666e193.6d5e4e"]]},{"id":"5705c56d.6c75cc","type":"change","z":"b89b6430.fc4758","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":660,"wires":[["594eb9de.1d0138"]]},{"id":"2666e193.6d5e4e","type":"change","z":"b89b6430.fc4758","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":800,"wires":[["594eb9de.1d0138"]]},{"id":"2b44ceb5.246112","type":"switch","z":"b89b6430.fc4758","name":"conmuta","property":"status","propertyType":"flow","rules":[{"t":"null"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":560,"y":740,"wires":[["5705c56d.6c75cc"],["5705c56d.6c75cc"],["2666e193.6d5e4e"]]},{"id":"acb66f43.7bd78","type":"switch","z":"b89b6430.fc4758","name":"noBucle","property":"topic","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":740,"wires":[["719abe91.5998b"]]},{"id":"c035728f.ceebe","type":"ui_switch","z":"b89b6430.fc4758","name":"Musica Ambiental","label":"<font color =orange>Musica Ambiental</font>","tooltip":"Música Ambiental","group":"64969eeb.3e1ec","order":5,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"speaker","oncolor":"yellow","offvalue":"off","offvalueType":"str","officon":"speaker","offcolor":"grey","x":930,"y":1000,"wires":[["bf321c2c.a42dc"]]},{"id":"17437cf8.696b13","type":"mqtt in","z":"b89b6430.fc4758","name":"sub.mqtt.musica","topic":"domobox/musica","qos":"0","datatype":"utf8","broker":"14dbfc71.592b04","x":140,"y":1020,"wires":[["6dfbd2a1.f0e4ec"]]},{"id":"d6cb7c03.a368","type":"mqtt out","z":"b89b6430.fc4758","name":"pub.mqtt.musica","topic":"domobox/musica","qos":"0","retain":"","broker":"14dbfc71.592b04","x":1300,"y":1000,"wires":[]},{"id":"eb9fc054.43a0e","type":"change","z":"b89b6430.fc4758","name":"Status","rules":[{"t":"set","p":"status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1000,"wires":[["c035728f.ceebe"]],"info":"Guarda el estado en que queda la luz para la siguiente conmutacion"},{"id":"6dfbd2a1.f0e4ec","type":"switch","z":"b89b6430.fc4758","name":"analisis","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"conmuta","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":1020,"wires":[["dd600cb6.2b5ac"],["dbfa96e8.eb7d78"],["72f97185.52f66"]]},{"id":"dd600cb6.2b5ac","type":"change","z":"b89b6430.fc4758","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":920,"wires":[["eb9fc054.43a0e"]]},{"id":"72f97185.52f66","type":"change","z":"b89b6430.fc4758","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1060,"wires":[["eb9fc054.43a0e"]]},{"id":"dbfa96e8.eb7d78","type":"switch","z":"b89b6430.fc4758","name":"conmuta","property":"status","propertyType":"flow","rules":[{"t":"null"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":560,"y":1000,"wires":[["dd600cb6.2b5ac"],["dd600cb6.2b5ac"],["72f97185.52f66"]]},{"id":"bf321c2c.a42dc","type":"switch","z":"b89b6430.fc4758","name":"noBucle","property":"topic","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1120,"y":1000,"wires":[["d6cb7c03.a368"]]},{"id":"f9bbcb3a.ed2b98","type":"mqtt in","z":"b89b6430.fc4758","name":"sub.mqtt.puerta","topic":"domobox/puerta","qos":"0","datatype":"utf8","broker":"14dbfc71.592b04","x":140,"y":1280,"wires":[["bdbc5d57.e7b31"]]},{"id":"604aca4e.263174","type":"mqtt out","z":"b89b6430.fc4758","name":"pub.mqtt.puerta","topic":"domobox/puerta","qos":"0","retain":"","broker":"14dbfc71.592b04","x":780,"y":1280,"wires":[]},{"id":"c67dbcbf.53649","type":"switch","z":"b89b6430.fc4758","name":"noBucle","property":"topic","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":1280,"wires":[["604aca4e.263174","17612b63.94bc45"]],"info":"Evita que se entre en bucle por el envio de mensajes MQTT "},{"id":"17612b63.94bc45","type":"switch","z":"b89b6430.fc4758","name":"aLog","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"abrir","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":1340,"wires":[["71e464e9.dc304c"]]},{"id":"c705702c.6c198","type":"mqtt in","z":"5a261c34.261a64","d":true,"name":"sub.mqtt.info","topic":"domobox/+/modulo","qos":"0","datatype":"json","broker":"14dbfc71.592b04","x":150,"y":200,"wires":[["3cf44fd9.e404d","6746bf5c.ddab9"]]},{"id":"3cf44fd9.e404d","type":"function","z":"5a261c34.261a64","name":"modulos ADD","func":"// incializa contador a 0 si no existe ningun mulo registrado\nvar elements = context.get('modulos')||[];\n\nfor (var i=0;i<elements.length;i++) {\n    if (elements[i].mac == msg.payload.mac){\n        elements[i] =msg.payload\n        msg.payload = elements\n        return msg;\n    }\n}\nelements.push(msg.payload);\nmsg.payload = elements\ncontext.set('modulos',elements)\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["a1f938b4.6efc28"]]},{"id":"a1f938b4.6efc28","type":"function","z":"5a261c34.261a64","name":"modulos2List","func":"// traduce la lista de modulos para visualizarse en el dashboard\nvar modulos = msg.payload\nmsg.payload = []\n\nfor (let i=0;i<modulos.length;i++) {\n    lista = {\n        title: \"<font color=\\\"orange\\\"><b>\"+modulos[i].name+\"</b></font>\",\n        description : modulos[i].mac +\" - \" + modulos[i].ip,\n        icon_name: \"fa-link\"\n    }\n    msg.payload.push(lista);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["9c8d2803.639658"]]},{"id":"9c8d2803.639658","type":"ui_list","z":"5a261c34.261a64","group":"a92d7a5.7f76888","name":"mcus","order":0,"width":"8","height":"4","lineType":"two","actionType":"none","allowHTML":true,"x":810,"y":120,"wires":[[]]},{"id":"55e98ad1.e52064","type":"comment","z":"5a261c34.261a64","name":"Indica MCUs Registradas","info":"","x":190,"y":60,"wires":[]},{"id":"6746bf5c.ddab9","type":"debug","z":"5a261c34.261a64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":200,"wires":[]},{"id":"28c57635.abf06a","type":"ui_template","z":"5a261c34.261a64","group":"b1ff5172.ad285","name":"EVENTOS","order":9,"width":"8","height":"6","format":"<ul>\n<li ng-repeat=\"x in msg.payload\">\n    <font color=\"red\">{{x.eventTime}}</font>\n    <p>\n    <font color=\"white\">{{x.eventName}}</font>\n    <font color=\"yellow\">{{x.eventStat}}</font>\n    </p>\n</li>\n</ul>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":360,"wires":[[]]},{"id":"f8e9cb6e.db61c8","type":"inject","z":"5a261c34.261a64","name":"","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"logs","payloadType":"global","x":190,"y":360,"wires":[["8d84fb2.e05d308"]]},{"id":"8d84fb2.e05d308","type":"rbe","z":"5a261c34.261a64","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":390,"y":360,"wires":[["28c57635.abf06a"]]},{"id":"5069bb41.602544","type":"comment","z":"5a261c34.261a64","name":"Informa de los Eventos / Actualiza cada 3 seg","info":"","x":250,"y":300,"wires":[]},{"id":"a4e21df9.02a86","type":"ui_switch","z":"b89b6430.fc4758","name":"conexion alarma","label":"Conexión de Alarma","tooltip":"Conectar / Desconectar Alarma","group":"64969eeb.3e1ec","order":9,"width":"5","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"conectar","onvalueType":"str","onicon":"lock_open","oncolor":"","offvalue":"desconectar","offvalueType":"str","officon":"lock_outline","offcolor":"","x":360,"y":1900,"wires":[["843a5a82.bbb7f8"]]},{"id":"b97aa89c.296de8","type":"function","z":"b89b6430.fc4758","name":"AddLog - Alarma Conectada","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Alarma\",\n    eventStat : \"Conectada\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":780,"y":1960,"wires":[[]]},{"id":"f9513fc9.99b75","type":"mqtt in","z":"b89b6430.fc4758","name":"sub.mqtt.puerta","topic":"domobox/alarma/armada","qos":"0","datatype":"utf8","broker":"14dbfc71.592b04","x":140,"y":1900,"wires":[["a4e21df9.02a86"]]},{"id":"3c74fef9.821e02","type":"mqtt out","z":"b89b6430.fc4758","name":"pub.mqtt.alarma","topic":"domobox/alarma/armada","qos":"0","retain":"","broker":"14dbfc71.592b04","x":780,"y":1900,"wires":[]},{"id":"843a5a82.bbb7f8","type":"switch","z":"b89b6430.fc4758","name":"noBucle","property":"topic","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":1900,"wires":[["3c74fef9.821e02","e7a2dcbf.f0a6a"]],"info":"Evita que se entre en bucle por el envio de mensajes MQTT "},{"id":"e7a2dcbf.f0a6a","type":"switch","z":"b89b6430.fc4758","name":"aLog","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"conectar","vt":"str"},{"t":"eq","v":"desconectar","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1980,"wires":[["b97aa89c.296de8"],["b028c3a7.b0c01"]]},{"id":"b028c3a7.b0c01","type":"function","z":"b89b6430.fc4758","name":"AddLog - Alarma Desconectada","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Alarma\",\n    eventStat : \"Desconectada\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":790,"y":2000,"wires":[[]]},{"id":"763a8043.eb2ee","type":"ui_template","z":"fb7d798b.8949d8","group":"bc4121bb.db3d6","name":"Linea Separador 3","order":8,"width":"7","height":"1","format":"<div>\n  <center> ________________________________</center>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":390,"y":640,"wires":[[]]},{"id":"c77e4c03.115b9","type":"comment","z":"fb7d798b.8949d8","name":"Pilotos Timbre - Alarma","info":"","x":160,"y":640,"wires":[]},{"id":"7db1719a.6e192","type":"mqtt in","z":"fb7d798b.8949d8","name":"sub.mqtt.timbre","topic":"domobox/timbre","qos":"0","datatype":"auto","broker":"14dbfc71.592b04","x":180,"y":700,"wires":[["23a9bb2.64e9b44","c22ae530.357e98"]]},{"id":"7381bf93.2a3d2","type":"ui_switch","z":"fb7d798b.8949d8","name":"Timbre","label":"Timbre Puerta","tooltip":"","group":"bc4121bb.db3d6","order":9,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"notifications_active","oncolor":"green","offvalue":"off","offvalueType":"str","officon":"notifications_none","offcolor":"grey","x":910,"y":700,"wires":[[]]},{"id":"93e9473c.1f3318","type":"mqtt in","z":"fb7d798b.8949d8","name":"sub.mqtt.alarma","topic":"domobox/alarma/disparo","qos":"1","datatype":"auto","broker":"14dbfc71.592b04","x":180,"y":840,"wires":[["5f979f80.9e97e","8031c0fc.c54b7"]]},{"id":"5f979f80.9e97e","type":"ui_switch","z":"fb7d798b.8949d8","name":"Piloto Alarma","label":"Disparo de Alarma","tooltip":"","group":"bc4121bb.db3d6","order":10,"width":"4","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"warning","oncolor":"red","offvalue":"off","offvalueType":"str","officon":"home","offcolor":"grey","x":510,"y":840,"wires":[[]]},{"id":"6a114f4d.75d0f","type":"comment","z":"76caf5af.acb65c","name":"Pulsadores Timbre/Alarma","info":"","x":810,"y":440,"wires":[]},{"id":"9f157f55.8855f","type":"inject","z":"76caf5af.acb65c","name":"Alarma Diaparo ON","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/alarma/disparo","payload":"on","payloadType":"str","x":850,"y":560,"wires":[["f2c68fff.0c2aa"]]},{"id":"92ac8ecf.bedc5","type":"inject","z":"76caf5af.acb65c","name":"Alarma Disparo OFF","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/alarma/disparo","payload":"off","payloadType":"str","x":850,"y":600,"wires":[["f2c68fff.0c2aa"]]},{"id":"f2c68fff.0c2aa","type":"mqtt out","z":"76caf5af.acb65c","name":"pub.mqtt","topic":"","qos":"0","retain":"","broker":"14dbfc71.592b04","x":1100,"y":560,"wires":[]},{"id":"7486d22a.653f4c","type":"inject","z":"76caf5af.acb65c","name":"Timbre ON","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/timbre","payload":"on","payloadType":"str","x":820,"y":500,"wires":[["f2c68fff.0c2aa"]]},{"id":"566425a0.f2126c","type":"inject","z":"fb7d798b.8949d8","name":"Timbre OFF","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"domobox/timbre","payload":"off","payloadType":"str","x":730,"y":760,"wires":[["7381bf93.2a3d2"]],"info":"Hacemos que en el inicio se envie OFF como una forma de poner \"a cero\" el piloto."},{"id":"8ced415c.92622","type":"inject","z":"fb7d798b.8949d8","name":"Alarma OFF","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"domobox/alarma","payload":"off","payloadType":"str","x":270,"y":900,"wires":[["5f979f80.9e97e"]],"info":"Hacemos que en el inicio se envie OFF como una forma de poner \"a cero\" el piloto."},{"id":"23a9bb2.64e9b44","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Llamada Timbre","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Timbre\",\n    eventStat : \"Llamando\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":430,"y":760,"wires":[[]]},{"id":"fc299ae5.ffe528","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Alarma ON","func":"// initialise the counter to 0 if it doesn't exist already\nif (msg.payload == \"off\") return null;\n\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Alarma\",\n    eventStat : \"Disparada\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":780,"y":880,"wires":[[]]},{"id":"8031c0fc.c54b7","type":"switch","z":"fb7d798b.8949d8","name":"aLogAlarma","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":900,"wires":[["fc299ae5.ffe528"],["272b28b7.3f6dd8"]]},{"id":"272b28b7.3f6dd8","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Alarma OFF","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Alarma\",\n    eventStat : \"Repuesta\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":780,"y":920,"wires":[[]]},{"id":"137adf69.ad4e61","type":"comment","z":"fb7d798b.8949d8","name":"Ultrasonidos","info":"","x":150,"y":980,"wires":[]},{"id":"7893e29a.0b8aec","type":"mqtt in","z":"fb7d798b.8949d8","name":"sub.mqtt.ultrasonidos","topic":"domobox/ultrasonidos","qos":"0","datatype":"auto","broker":"14dbfc71.592b04","x":220,"y":1040,"wires":[["d5b8197c.cc6aa8","54ee797d.064198"]]},{"id":"d5b8197c.cc6aa8","type":"ui_text","z":"fb7d798b.8949d8","group":"bc4121bb.db3d6","order":12,"width":"3","height":"2","name":"","label":"Ultrasonidos","format":"{{msg.payload}}","layout":"col-center","x":890,"y":1040,"wires":[]},{"id":"2ddbe102.b2bc9e","type":"comment","z":"76caf5af.acb65c","name":"Ultrasonidos y PIRs","info":"","x":630,"y":840,"wires":[]},{"id":"a4d6b4b9.c58b38","type":"mqtt out","z":"76caf5af.acb65c","name":"pub.mqtt","topic":"","qos":"0","retain":"","broker":"14dbfc71.592b04","x":1020,"y":960,"wires":[]},{"id":"f28abef7.1cd5","type":"random","z":"76caf5af.acb65c","name":"","low":"8","high":"50","inte":"true","property":"payload","x":840,"y":900,"wires":[["a4d6b4b9.c58b38"]]},{"id":"2f2feaa.5acce16","type":"inject","z":"76caf5af.acb65c","name":"Ultrasonidos","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/ultrasonidos","payload":"","payloadType":"date","x":640,"y":900,"wires":[["f28abef7.1cd5"]]},{"id":"7f000f1f.716ee","type":"inject","z":"76caf5af.acb65c","name":"PIR Garaje","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/garaje/pir","payload":"on","payloadType":"str","x":660,"y":960,"wires":[["a4d6b4b9.c58b38"]]},{"id":"4113f27a.81665c","type":"inject","z":"76caf5af.acb65c","name":"PIR Pasillo","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/pasillo/pir","payload":"on","payloadType":"str","x":660,"y":1000,"wires":[["a4d6b4b9.c58b38"]]},{"id":"dc53c9c4.a403a8","type":"inject","z":"76caf5af.acb65c","name":"PIR Habitacion 1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/habitacion1/pir","payload":"on","payloadType":"str","x":680,"y":1040,"wires":[["a4d6b4b9.c58b38"]]},{"id":"90d0d01b.90799","type":"inject","z":"76caf5af.acb65c","name":"PIR Habitacion 2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/habitacion2/pir","payload":"on","payloadType":"str","x":680,"y":1080,"wires":[["a4d6b4b9.c58b38"]]},{"id":"18188bb5.205914","type":"ui_led","z":"fb7d798b.8949d8","group":"bc4121bb.db3d6","order":13,"width":"1","height":"2","label":"","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"red","value":"rojo","valueType":"str"},{"color":"green","value":"verde","valueType":"str"},{"color":"orange","value":"naranja","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Proximidad","x":890,"y":1100,"wires":[]},{"id":"54ee797d.064198","type":"switch","z":"fb7d798b.8949d8","name":"Analisis","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"15","vt":"num"},{"t":"gt","v":"25","vt":"str"},{"t":"btwn","v":"15","vt":"num","v2":"25","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":440,"y":1120,"wires":[["210852dc.dc049e"],["51a41249.32620c"],["aded4bba.d47988"]]},{"id":"210852dc.dc049e","type":"change","z":"fb7d798b.8949d8","name":"Rojo","rules":[{"t":"set","p":"payload","pt":"msg","to":"rojo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1080,"wires":[["18188bb5.205914"]]},{"id":"51a41249.32620c","type":"change","z":"fb7d798b.8949d8","name":"Verde","rules":[{"t":"set","p":"payload","pt":"msg","to":"verde","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1120,"wires":[["18188bb5.205914"]]},{"id":"aded4bba.d47988","type":"change","z":"fb7d798b.8949d8","name":"Naranja","rules":[{"t":"set","p":"payload","pt":"msg","to":"naranja","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1160,"wires":[["18188bb5.205914"]]},{"id":"3b2c818f.90205e","type":"mqtt in","z":"fb7d798b.8949d8","name":"sub.mqtt.pir","topic":"domobox/+/pir","qos":"0","datatype":"auto","broker":"14dbfc71.592b04","x":190,"y":1300,"wires":[["e71d52e3.d28a2","1a6ccf60.18a481"]]},{"id":"e71d52e3.d28a2","type":"change","z":"fb7d798b.8949d8","name":"Localizacion","rules":[{"t":"set","p":"payload","pt":"msg","to":"$uppercase(\t    $substringBefore(\t        $substringAfter(topic, \"domobox/\"), \"/pir\")\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1300,"wires":[["7adc4144.6a43b"]]},{"id":"3c33f1c0.c8651e","type":"ui_text","z":"fb7d798b.8949d8","group":"bc4121bb.db3d6","order":11,"width":"3","height":"2","name":"Movimiento PIRs","label":"PIR Interior","format":"<font color =green>{{msg.payload}}</font>","layout":"col-center","x":830,"y":1300,"wires":[]},{"id":"7adc4144.6a43b","type":"timeouttrigger","z":"fb7d798b.8949d8","ontimeouttype":"str","ontimeoutval":"-------","duration":"10","units":"s","name":"Sin Movimiento","x":610,"y":1300,"wires":[["3c33f1c0.c8651e"]]},{"id":"4e5c2212.1907cc","type":"comment","z":"fb7d798b.8949d8","name":"PIRs","info":"","x":130,"y":1240,"wires":[]},{"id":"b1d9830b.021a9","type":"change","z":"fb7d798b.8949d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"$substringAfter(topic, \"domobox/\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["5227f8d2.09ec88"]]},{"id":"e4089837.3684e8","type":"inject","z":"fb7d798b.8949d8","name":"Vacio Inicial","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"--------","payloadType":"str","x":390,"y":1360,"wires":[["7adc4144.6a43b"]]},{"id":"c22ae530.357e98","type":"timeouttrigger","z":"fb7d798b.8949d8","ontimeouttype":"str","ontimeoutval":"off","duration":"20","units":"s","name":"Sin Cambios","x":550,"y":700,"wires":[["7381bf93.2a3d2"]]},{"id":"42aceec9.da54f","type":"ui_text","z":"fb7d798b.8949d8","group":"bc4121bb.db3d6","order":7,"width":"4","height":"1","name":"Hueco Vacio","label":"","format":"{{\"                      \"}}","layout":"row-spread","x":970,"y":380,"wires":[]},{"id":"3e86f07.d860f1","type":"ui_template","z":"b89b6430.fc4758","group":"64969eeb.3e1ec","name":"Keypad ON","order":12,"width":"3","height":"1","format":"<script>\n    //this.scope.pl = function() { return true; }\n    //this.scope.tp = function() { return \"show\"; }\n    \n    (function(scope) {\n        scope.pl = function() { return true; }\n        scope.tp = function() { return \"show\"; }\n        scope.cl = function() { return this.msg.passcode; }\n        \n        //scope.$watch('msg.payload', function(newVal, oldVal) {\n        //    console.log('- Cambio en msg.payload -')\n        //})\n\n    })(scope)\n</script>\n\n\n<style>\n\n/* Clave */\n.key-in-button {\n    color: initial;   \n}\n.key-in-button span {\n    color: yellow;\n}\n\n\n\n</style>\n\n\n\n<md-button ng-click=\"send({payload:pl(),topic:tp(),passcode:cl()})\">\n    <i class=\"fa fa-keyboard-o\" aria-hidden=\"true\"></i> \n    &nbsp; Cambia Clave<br>\n    <div class =\"key-in-button\"> <span>{{ msg.passcode }}</span></div>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":410,"y":1600,"wires":[["e80eacea.1a869","d28aafe.a51c05"]]},{"id":"8b1ad395.31cb2","type":"change","z":"b89b6430.fc4758","name":"Set msg.passcode","rules":[{"t":"set","p":"passcode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1520,"wires":[["3e86f07.d860f1"]]},{"id":"cb2c0687.f2d088","type":"change","z":"b89b6430.fc4758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"passcode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1600,"wires":[["b8ddb7f2.1da7d8"]]},{"id":"b8ddb7f2.1da7d8","type":"mqtt out","z":"b89b6430.fc4758","name":"sub.mqtt.passwd","topic":"domobox/keypad/passwd","qos":"2","retain":"","broker":"14dbfc71.592b04","x":1130,"y":1600,"wires":[]},{"id":"d28aafe.a51c05","type":"debug","z":"b89b6430.fc4758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":1680,"wires":[]},{"id":"1a6ccf60.18a481","type":"debug","z":"fb7d798b.8949d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":1240,"wires":[]},{"id":"5fc75c91.a69dc4","type":"inject","z":"76caf5af.acb65c","name":"Alarma Armada ON","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/alarma/armada","payload":"on","payloadType":"str","x":850,"y":660,"wires":[["f2c68fff.0c2aa"]]},{"id":"97fbe3a5.08a97","type":"inject","z":"76caf5af.acb65c","name":"Alarma Armada OFF","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/alarma/armada","payload":"on","payloadType":"str","x":850,"y":700,"wires":[["f2c68fff.0c2aa"]]},{"id":"ac1004c8.adaf78","type":"inject","z":"76caf5af.acb65c","name":"ESP Habitacion 2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/habitacion2/modulo","payload":"{\"name\":\"ESP32_HABITACION 2\",\"mac\":\"06002BE10322\",\"ip\":\"192.168.255.107\"}","payloadType":"str","x":220,"y":500,"wires":[["67d422bc.82236c"]]},{"id":"d90e5bc5.f23488","type":"inject","z":"76caf5af.acb65c","name":"ESP Habitacion 1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"domobox/habitacion2/modulo","payload":"{\"name\":\"ESP32_HABITACION 1\",\"mac\":\"08002BE10430\",\"ip\":\"192.168.255.106\"}","payloadType":"str","x":220,"y":460,"wires":[["67d422bc.82236c"]]},{"id":"5dc9e87a.a789d8","type":"mqtt in","z":"5a261c34.261a64","name":"sub.mqtt.info","topic":"domobox/+/modulo","qos":"0","datatype":"utf8","broker":"14dbfc71.592b04","x":110,"y":120,"wires":[["599c0967.4e4628"]]},{"id":"599c0967.4e4628","type":"json","z":"5a261c34.261a64","name":"","property":"payload","action":"","pretty":false,"x":270,"y":120,"wires":[["3cf44fd9.e404d","6746bf5c.ddab9"]]},{"id":"64636940.b16388","type":"comment","z":"fb7d798b.8949d8","name":"Estados Keypad ","info":"","x":180,"y":1440,"wires":[]},{"id":"e8521666.d4efa8","type":"mqtt in","z":"fb7d798b.8949d8","name":"sub.mqtt.keypad","topic":"domobox/keypad/status","qos":"0","datatype":"auto","broker":"14dbfc71.592b04","x":200,"y":1520,"wires":[["f0bba95c.52fda8"]]},{"id":"949813d3.0101e","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Keypad Off","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Keypad\",\n    eventStat : \"Apagado\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":660,"y":1440,"wires":[[]]},{"id":"f0bba95c.52fda8","type":"switch","z":"fb7d798b.8949d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"in","vt":"str"},{"t":"eq","v":"passwd_error","vt":"str"},{"t":"eq","v":"passwd_ok","vt":"str"},{"t":"eq","v":"passwd_change","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":430,"y":1520,"wires":[["949813d3.0101e"],["793936c4.7b60e8"],["776a8362.109ebc"],["f531ccda.3abbd"],["adbb2553.3e83b8"]]},{"id":"793936c4.7b60e8","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Keypad On","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Keypad\",\n    eventStat : \"Encendido\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":660,"y":1480,"wires":[[]]},{"id":"776a8362.109ebc","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Keypad password Error","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Keypad\",\n    eventStat : \"Error Password\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":700,"y":1520,"wires":[[]]},{"id":"f531ccda.3abbd","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Keypad Password Ok","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Keypad\",\n    eventStat : \"Password OK\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":690,"y":1560,"wires":[[]]},{"id":"adbb2553.3e83b8","type":"function","z":"fb7d798b.8949d8","name":"AddLog - Keypad Password Cambiada","func":"// initialise the counter to 0 if it doesn't exist already\nvar logs = global.get('logs')|| [];\n\nvar d = new Date();\n\nlogs.unshift( {  // Inserta en pa primera posición\n    eventTime : d.getDate()+\"/\"+(d.getMonth() +1)+\"/\"+d.getFullYear()+\",\"+d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds(),\n    eventName : \"Keypad\",\n    eventStat : \"Password Cambiada\"\n} );\n\nif (logs.length > 20){   // Delete oldest message if = 20\n    logs.pop();\n}\n\n// guarda valor en variable global\nglobal.set('logs',logs);\n\n// Solo debug\n//msg = {};\n//msg.payload = logs; \n\nreturn null;  // Para debug msg en vez de null","outputs":1,"noerr":0,"x":710,"y":1600,"wires":[[]]}]